<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<!--指定生成的目录格式为yyyyMMdd.log-->
		<file type="log4net.Util.PatternString" value="Log/%date{yyyyMMdd}.log" />
		<!--指定生成的目录格式为yyyyMMdd.log-->
		<datePattern value="yyyyMMdd'.log'"/>
		<!--指定的文件格式为yyyyMMdd.log-->
		<appendToFile value="true" />
		<!--是否追加内容-->
		<rollingStyle value="Date" />
		<!--新文件的类型-->
		<maxSizeRollBackups value="15" />
		<!--备份log文件的个数最多15个-->
		<maximumFileSize value="10MB" />
		<!--log文件最大是10M-->
		<staticLogFileName value="true" />
		<!--是否启用静态文件名-->
		<layout type="log4net.Layout.PatternLayout">
			<!--指定log的格式 [时间]  -等级- -ILog名称、方法名- -描述-->
			<conversionPattern value="[%date]  -- %-5level -- %logger [%M] -- %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFileAppender" />
		<!--ref的值与上述appender中name值对应-->
	</root>
</log4net>
<!--<log4net>
	<appender name="rollingAppender" type="log4net.Appender.RollingFileAppender">
		<file value="log\log.txt"/>
		
		<appendToFile value="true"/>
		
		--><!--<lockingModel type="log4net.Appender.FileAppender+MinimaLock"/>--><!--
		
		<rollingStyle value="Composite"/>
		
		<dataPattern value="yyyMMdd.TXT"/>
		
		<maxSizeRollBackups value="20"/>
		
		<maxFileSize value="2MB"/>
		
		<staticLogFileName value="true"/>
		
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LeveMin" value="INFO"/>
			<param name="LeveMax" value="FATAL"/>
		</filter>
		<loyout type="log4net.Layout.PatternLayout">
			<convisitionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
		</loyout>
	</appender>

	<root>
		<priority value="ALL"/>
		<level value="ALL"/>
		<appender-ref ref="rollingAppender"/>
	</root>
</log4net>-->